

html,
body,
#app,
.wrapper,
.content-box,
.content {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
//   background: transparent ;
  /* min-width: 1440px;
    overflow-x: auto; */
}
.bigData {
    color: #fff;
    font-size: 0.14rem;
    .videoFixed{
        width: 100%;
        position: fixed;
        left: 0;
        // bottom: 0;
        right: 0;
        z-index: -9999;
    }
    .map{
        width: 100%;
        position: fixed;
        left: 0;
        top: 2%;
        right: 0;
        z-index: -99;
    }
    .bd_title {
        height: 0.76rem;
        padding: 0.25rem 0.2rem 0.2rem;
        box-sizing: border-box;
        .bd_title_l {
            .l_t {
                font-size: 0.3rem;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: #ffffff;
                margin-right: 0.2rem;
                span {
                    color: #4ef0f7;
                }
            }
            .l_b {
                font-size: 0.16rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #73797a;
                width: 3.37rem;
                height: 0.31rem;
                border-bottom: 0.03rem solid rgba(255, 255, 255, 0.2);
                position: relative;
                i {
                    position: absolute;
                    right: 0;
                    bottom: -0.03rem;
                    width: 0.06rem;
                    height: 0.03rem;
                    background: #fdfefc;
                }
            }
        }
        .bd_title_r {
            .el-icon-s-home {
                font-size: 0.24rem;
                color: #787c8b;
                margin-right: 0.05rem;
            }
            span {
                font-size: 0.2rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #787c8b;
            }
            img {
                width: 0.2rem;
                height: 0.26rem;
                margin: 0 0.14rem;
            }
            .timeall {
                font-size: 0.16rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #787c8b;
            }
            .time {
                font-size: 0.24rem;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: #ffffff;
            }
            .date {
                font-size: 0.16rem;
                margin: 0 0.11rem 0 0.19rem;
            }
            .noweek {
                font-size: 0.16rem;
            }
        }
    }
    .bd_head {
        padding: 0 0.2rem;
        ul {
            li {
                width: 24.3%;
                height: 1.1rem;
                background: rgba(27, 160, 239, 0.1);
                img {
                    width: 0.56rem;
                    height: 0.56rem;
                    margin-right: 0.25rem;
                }
                .li_text {
                    font-size: 0.18rem;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: #4EF0F7;
                }
                .li_text_2 {
                    font-size: 0.14rem;
                    font-family: Microsoft YaHei;
                    font-weight: bold;
                    color: #787c8b;
                    .num {
                        font-size: 0.36rem;
                        color: #ffffff;
                        margin-right: 0.02rem;
                        letter-spacing: 0.05rem;
                    }
                }
            }
        }
    }
    .bd {
        padding: 0.1rem 0.2rem 0 0.2rem;
        box-sizing: border-box;
        .bd_l {
            width: 29.17%;
        }
        .bd_l_t {
            background: rgba(27, 160, 239, 0.1);
            .bd_l_t_body {
                height: 2.86rem;
                .bd_l_t_body_center {
                    ul {
                        li {
                            width: 33%;
                            padding: 0.36rem 0;
                            img {
                                width: 0.66rem;
                                height: 0.66rem;
                            }
                            .zong_time {
                                font-size: 0.14rem;
                                font-family: Microsoft YaHei;
                                font-weight: 400;
                                color: #9196aa;
                            }
                            .zong_xs {
                                margin-top: 0.16rem;
                                font-size: 0.24rem;
                                font-family: Microsoft YaHei;
                                font-weight: bold;
                                color: #ffffff;
                                letter-spacing: 0.02rem;
                                text-shadow: 0px 0px 16px rgba(5, 156, 231, 0.54);
                                .xs {
                                    font-size: 0.14rem;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bd_l_t_title {
            margin-left: 0.2rem;
            box-sizing: border-box;
            height: 0.49rem;
            border-bottom: 0.02rem solid rgba(255, 255, 255, 0.2);
            position: relative;
            i {
                position: absolute;
                right: 0;
                bottom: -0.03rem;
                width: 0.06rem;
                height: 0.03rem;
                background: #fdfefc;
            }
            .imgwai{
                width: 0.32rem;
                height: 0.32rem;
                border-radius: 50%;
                border: 0.03rem solid RGBA(70, 94, 109, 1);
                line-height: 0.32rem;
                text-align: center;
                position: relative;
                img {
                    width: 0.41rem;
                    height: 0.41rem;
                    line-height: 0.41rem;
                    text-align: center;
                    position: absolute;
                    left: -0.045rem;
                    top:  -0.045rem;
                }
            }
            img {
                width: 0.37rem;
                height: 0.37rem;
            }
            .bd_l_t_t_tong {
                font-size: 0.2rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #ffffff;
                margin: 0 0.09rem 0 0.2rem;
            }
            .bd_l_t_t_ying {
                font-size: 0.12rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #73797a;
            }
        }
        .bd_l_t_body_bott {
            ul {
                width: 100%;
                height: 0.8rem;
                overflow-y: auto;
                padding-left: 0.1rem;
                box-sizing: border-box;
                li {
                    width: 24%;
                    height: 0.4rem;
                    border-right: 0.02rem solid rgba(255, 255, 255, 0.2);
                    margin-bottom: 0.05rem;
                    .qiye {
                        font-size: 0.14rem;
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        color: #9196aa;
                        margin-right: 0.16rem;
                    }
                    .qiye_num {
                        font-size: 0.14rem;
                        font-family: Microsoft YaHei;
                        font-weight: bold;
                    }
                    .xs{
                        font-size: 0.1rem;
                    }
                    .qiye_red{
                        color: #f74e4e;
                    }
                    .qiye_chiping{
                        color: #41D1DD;
                    }
                    .qiye_green{
                        color: #4ef782;
                    }
                }
                li:nth-of-type(4) {
                    border-right: none;
                }
                li:nth-of-type(8) {
                    border-right: none;
                }
                li:nth-of-type(12) {
                    border-right: none;
                }
                li:nth-of-type(16) {
                    border-right: none;
                }
                li:nth-of-type(20) {
                    border-right: none;
                }
                li:nth-of-type(24) {
                    border-right: none;
                }

            }
        }
        .bd_l_b {
            margin-top: 0.1rem;
            background: rgba(27, 160, 239, 0.1);
            height: 4.5rem;
        }
        .sg_e {
            height: 3.1rem;
            padding: 0.3rem 0;
            box-sizing: border-box;
            .sgPerson {
                margin: 0 0.2rem 0 0.2rem;
                .sgPerson_zong {
                    margin-bottom: 0.3rem;
                    .zp {
                        font-size: 0.14rem;
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        color: #9196aa;
                    }
                    .znum {
                        margin-top: 0.14rem;
                        font-size: 0.24rem;
                        font-family: Microsoft YaHei;
                        font-weight: bold;
                        color: #ffffff;
                    }
                    .z_ren {
                        font-size: 0.14rem;
                        font-weight: 400;
                    }
                    .gongblue {
                        color: #4ef0f7;
                    }
                }
            }
            .proDouble {
                padding-left: 0.2rem;
                box-sizing: border-box;
                .pd_name {
                    padding: 0.2rem 0.2rem 0.1rem 0;
                    font-size: 0.14rem;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: #9196aa;
                    
                    .baifen{
                        color: #fff;
                    }
                }
            }
        }
        .bd_r {
            width: 29.17%;
        }
        .bd_r_top {
            background: rgba(27, 160, 239, 0.1);
            height: 4.64rem;
            .bd_r_top_body {
                .bb_jun {
                    margin-top: 0.3rem;
                    ul {
                        li {
                            padding: 0 0.2rem;
                            font-size: 0.16rem;
                            font-family: Microsoft YaHei;
                            font-weight: 400;
                            .bb_jun_text {
                                color: #b3d8fb;
                            }
                            .bb_jun_Num {
                                color: #4ef0f7;
                            }
                        }
                    }
                }
            }
        }
        .bd_r_bottom {
            background: rgba(27, 160, 239, 0.1);
            margin-top: 0.1rem;
            .bd_r_b_tai {
                ul {
                    width: 100%;
                    li {
                        width: 15.6%;
                        height: 0.9rem;
                        padding-left: 0.23rem;
                        border-right: 0.02rem solid rgba(45, 55, 64, 0.3);
                        border-bottom: 0.02rem solid rgba(45, 55, 64, 0.3);
                        .db_yx {
                            font-size: 0.14rem;
                            font-family: Microsoft YaHei;
                            font-weight: 400;
                            color: #9196aa;
                        }
                        .db_tn {
                            margin-top: 0.1rem;
                            font-size: 0.2rem;
                            font-family: Microsoft YaHei;
                            font-weight: 400;
                            color: #4ef0f7;
                            .db_tai {
                                color: #9196aa;
                                font-size: 0.14rem;
                            }
                        }
                    }
                    li:nth-of-type(5) {
                        border-right: none;
                    }
                    li:nth-of-type(6) {
                        background: rgba(27, 160, 239, 0.08);
                    }
                    li:nth-of-type(7) {
                        background: rgba(27, 160, 239, 0.08);
                    }
                    li:nth-of-type(8) {
                        background: rgba(27, 160, 239, 0.08);
                    }
                    li:nth-of-type(9) {
                        background: rgba(27, 160, 239, 0.08);
                    }
                    li:nth-of-type(10) {
                        border-right: none;
                        background: rgba(27, 160, 239, 0.08);
                    }

                    li:nth-of-type(11) {
                        border-bottom: none;
                    }
                    li:nth-of-type(12) {
                        border-bottom: none;
                    }
                    li:nth-of-type(13) {
                        border-bottom: none;
                    }
                    li:nth-of-type(14) {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
